.body-bg {
  background: #274471;
}
.header-navbar {
	background: #274471;
}
a, a:hover {
  color: #06375A;
}
.border-hover:hover {
	border-color: #06375A;
}
.text-hover:hover {
	color: #06375A;
}
.highlight {
    color: #06375A;
}
.custom-control .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
	border-color: #274471;
	background-color: #274471;
}
.custom-checkbox .custom-control-input[readonly]:checked ~ .custom-control-label::before {
	background-color: #274471;
}
.custom-control .custom-control-input:disabled:checked ~ .custom-control-label::before,
.custom-control .custom-control-input[readonly]:checked ~ .custom-control-label::before {
	background-color: #274471;
}
.header-navbar .float-xs-right .nav-item:hover {
	background: #16537E;
}
.navbar .navbar-nav .menu-bar a.nav-link:hover,
.navbar .navbar-nav .dropdown:hover{
  background: #16537E !important;
}
.menu-bar a.dropdown-toggle:hover{
	background: #16537E !important;
}
.switch input:checked + .slider:before {
  background-color: #06375A;
  border-color: #06375A;
}
body .navbar.header-navbar .nav-item a {
	color: #F3F2F5 !important;
}
body .navbar.header-navbar .dropdown-menu a,
body .navbar.header-navbar .dropdown-submenu a {
	color: #555 !important;
}
.tag,
.modal-header {
	background: #06375A;
}
.tag-notification {
    background: #FF5050;
}
.sidebar-menu > li.active > a,
.sidebar-menu > li.open > a {
	border-left-color: #06375A; 
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
	background-color: #06375A;
}
li.active > .treeview-menu > li > a,
li.open > .treeview-menu > li > a {
	border-left-color: #06375A;
}
.sidebar-menu > li > a.active,
.sidebar-menu .treeview-menu > li > a.active {
	color: #06375A;
}
@media (min-width: 768px) {
	.body-minimize .sidebar-panel .floating-title {
		background: #06375A;
	}
	.body-minimize li > a.active {
		color: #06375A;
	}
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #06375A;
}
.quick-link:hover {
	border-color: #06375A;
	background: #06375A;
}
.table-hover tbody tr:hover, .table-hover tbody tr.hover {
	background: #06375A !important;
}
.table-app tbody tr.checked {
	background: rgba(0,0,0,.05);
}
.table-app.table-hover tbody tr.checked:hover td {
	border: .0625rem solid #0B5394 !important;
	color: #274471 !important;
}
.table-app.table-bordered.table-hover tr.checked:hover td:first-child, .table-app.table-bordered.table-hover tr.checked:hover th:first-child {
	border-left: 0 none !important;
}
.table-app.table-bordered.table-hover tr.checked:hover td:last-child, .table-app.table-bordered.table-hover tr.checked:hover th:last-child {
	border-right: 0 none !important;
}
.table-app [data-sort="asc"]:before {
	color: #06375A;
}
.table-app [data-sort="desc"]:after {
	color: #06375A;
}
.table-hover.table-bordered tbody tr:hover td, .table-hover.table-bordered tbody tr:hover th,
.table-hover.table-bordered tbody tr.hover td, .table-hover.table-bordered tbody tr.hover th {
	border-right-color: #0B5394 !important;
	border-left-color: #0B5394 !important;
}
.table-hover.table-bordered.table-hover tbody tr.checked:hover td, .table-hover.table-bordered.table-hover tbody tr.checked:hover th,
.table-hover.table-bordered.table-hover tbody tr.checked.hover td, .table-hover.table-bordered.table-hover tbody tr.checked.hover th {
	border-top: 0 none;
	border-right: .0625rem solid #0B5394 !important;
	border-left: .0625rem solid #0B5394 !important;
	color: #fff !important;
}
.table-hover tbody tr.not-hover:hover td, .table-hover tbody tr.not-hover:hover th {
	border-color: #e9ecef !important;
}
.table-app tbody tr.checked.hover td a {
	color: #06375A;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #06375A;
}
.autocomplete-suggestion:hover {
    background: #06375A;
}
.autocomplete-suggestion:hover strong {
    color: #06375A;
}
.autocomplete-suggestions strong {
    color: #06375A;
}
.context-menu-item.context-menu-hover {
	background-color: #06375A;
}
.table-hover tbody tr.not-hover {
	background-color: transparent !important;
}
.table-hover tbody tr.not-hover td, .table-hover tbody tr.not-hover th{
	border-bottom-color: transparent !important;
}
.table-hover tbody tr.not-hover:hover td {
    border-bottom-color: transparent !important;
}
.btn-primary {
    border-color: #00A5A8 !important;
    background-color: #00B5B8 !important;
    color: WHITE !important;
}
.btn-primary:hover {
    border-color: #00AEB1 !important;
    background-color: #26C0C3 !important;
    color: WHITE !important;
}
.btn-primary:active,
.btn-primary:focus {
    border-color: #00A5A8 !important;
    background-color: #009DA0 !important;
    color: WHITE !important;
}
.btn-outline-primary {
    border-color: #00B5B8 !important;
    background-color: transparent !important;
    color: #00B5B8 !important;
}
.btn-outline-primary:hover {
    background-color: #00B5B8 !important;
    color: WHITE !important;
}
.text-primary, .primary {
    color: #00B5B8 !important;
}
.bg-primary {
    background-color: #00B5B8 !important
}
.btn-info {
    border-color: #22C2DC !important;
    background-color: #2DCEE3 !important;
    color: WHITE !important;
}
.btn-info:hover {
    border-color: #28C9E0 !important;
    background-color: #4DD5E7 !important;
    color: WHITE!important
}
.btn-info:active,
.btn-info:focus {
    border-color: #22C2DC !important;
    background-color: #1CBCD8 !important;
    color: WHITE !important
}
.btn-outline-info {
    border-color: #2DCEE3 !important;
    background-color: transparent !important;
    color: #2DCEE3 !important;
}
.btn-outline-info:hover {
    background-color: #2DCEE3 !important;
    border-color: #2DCEE3 !important;
    color: WHITE !important;
}
.text-info, .info {
    color: #2DCEE3 !important;
}
.bg-info {
    background-color: #2DCEE3 !important
}
.btn-success {
    border-color: #10C888 !important;
    background-color: #16D39A !important;
    color: WHITE !important;
}
.btn-success:hover {
    border-color: #13CE92 !important;
    background-color: #39DAA9 !important;
    color: WHITE !important
}
.btn-success:active,
.btn-success:focus {
    border-color: #10C888 !important;
    background-color: #0CC27E !important;
    color: WHITE !important
}
.btn-outline-success {
    border-color: #16D39A !important;
    background-color: transparent !important;
    color: #16D39A !important
}
.btn-outline-success:hover {
    background-color: #16D39A !important;
    color: WHITE !important
}
.text-success, .success {
    color: #16D39A !important;
}
.bg-success {
    background-color: #16D39A !important
}
.btn-warning {
    border-color: #FF976A !important;
    background-color: #FFA87D !important;
    color: WHITE !important
}
.btn-warning:hover {
    border-color: #FFA075 !important;
    background-color: #FFB591 !important;
    color: WHITE !important
}
.btn-warning:active,
.btn-warning:focus {
    border-color: #FF976A !important;
    background-color: #FF8D60 !important;
    color: WHITE !important
}
.btn-outline-warning {
    border-color: #FFA87D !important;
    background-color: transparent !important;
    color: #FFA87D !important
}
.btn-outline-warning:hover {
    background-color: #FFA87D !important;
    color: WHITE !important
}
.text-warning, .warning {
    color: #FFA87D !important;
}
.bg-warning {
    background-color: #FFA87D !important
}
.btn-danger {
    border-color: #FF6275 !important;
    background-color: #FF7588 !important;
    color: WHITE !important
}
.btn-danger:hover {
    border-color: #FF6D80 !important;
    background-color: #FF8A9A !important;
    color: WHITE !important
}
.btn-danger:active,
.btn-danger:focus {
    border-color: #FF6275 !important;
    background-color: #FF586B !important;
    color: WHITE !important
}
.btn-outline-danger {
    border-color: #FF7588 !important;
    background-color: transparent !important;
    color: #FF7588 !important
}
.btn-outline-danger:hover {
    background-color: #FF7588 !important;
    color: WHITE !important
}
.text-danger, .danger {
    color: #FF7588 !important;
}
.bg-danger {
    background-color: #FF7588 !important
}
.right-sidebar .sidebar-menu > li .count{
	background-color: #06375A;
}
.right-sidebar .sidebar-menu li a:hover {
	background: #06375A;
}
.right-sidebar .sidebar-menu li a:hover .count{
	color: #06375A;
}
.right-sidebar .sidebar-menu li a.active:hover .count{
	background: #06375A;
}
.left-sidebar .sidebar-menu > li > a.active, 
.left-sidebar .sidebar-menu .treeview-menu > li > a.active {
	background: #06375A;
}
.loader-bar {
	background: #06375A;
}
.spinner {
	border-top: .125rem solid #06375A;
	border-bottom: .125rem solid #06375A;
}  
.dropdown .dropdown-menu.custom-dropdown .dropdown-item.active:before {
	color: #06375A;
}
.offset-header {
	background: #274471;
}
.dashboard-avatar .icon-avatar {
	background: #06375A;
}
.nav-pills .nav-link .badge{
	background: #06375A;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background: #274471;
}
.breakingNews>.bn-title{background:#06375A !important;}
.breakingNews>.bn-title>span{border-color: transparent transparent transparent #06375A !important;}
.breakingNews>ul>li>span{color:#06375A !important;}
.breakingNews>ul>li>a:hover{color:#06375A !important;}
.chat-header {
	background : #274471;
	color: #fff;
}
.chat-tabs .nav-item .nav-link.active {
	border-bottom: 1px solid #06375A;
}
.lds-ellipsis div {
	background: #06375A;
}
ul.chat-bubble.me li{
	background: #06375A;
}
.datepicker table tr td span.active, 
.datepicker table tr td span.active:hover, 
.datepicker table tr td span.active.disabled, 
.datepicker table tr td span.active.disabled:hover {
	background: #06375A !important;
	border-color: #06375A !important;
}
table thead tr.bg-app-secondary th,
table thead tr.bg-app-secondary td,
table tbody tr.bg-app-secondary th,
table tbody tr.bg-app-secondary td {
	border-color: #0B5394 !important;
	background: #06375A;
}
table thead tr.bg-app th,
table thead tr.bg-app td,
table tbody tr.bg-app th,
table tbody tr.bg-app td {
	border-color: #16537E !important;
	background: #274471;
}
.printed {
	background: #274471;
}
.autosuggest-dropdown-menu>.active>a, .autosuggest-dropdown-menu>.active>a:hover, .autosuggest-dropdown-menu>.active>a:focus {
	background-color: #06375A !important;
}